.animal-container {
	width: 200px;
}


.animal-image {
	width: 200px;
	height: 200px;
}

.animal-button {
	height: 40px;
	width: 200px;
}

.animal-attributes {
	width: 100%;
	height: 100px;
	background-color: grey;
}